<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>The Evenbrides App - Événement</title>
</head>

<body>


    <div class="container" style= "margin-bottom: 45px">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="card-title "> Événement <%=@event.title%></h2>
                
                <p>Date de début : <%=@event.start_date %></p>
                <p>Lieu :: <%= @event.location %></p>
                <p>Durée : <%=@event.duration %> minutes</p>
                <p>Prix : <%= @event.price %>€</p>
                <p>Description : <%= @event.description %></p>

                <p><%= @event.attendances.count %> <%= (@event.attendances.count) == 1 ? 'Participant' : 'Participants'%></p>

                <%= link_to 'Participez !', new_event_attendance_path(params[:id]) %>
            </div>
        </div>
    </div>

<h1>Page Event</h1>

<p>Bienvenue sur la page d'ajout d'une picture pour l'Event portant l'id : <%=@event.id%></p>
<h3>Event actuel</h3>
<%if @event.picture_event.attached?%>
  <%= image_tag @event.picture_event, alt: 'picture_event' %>
<%else%>
  <p>=== Il n'y a pas encore de picture liée à cet Event ===</p>
<%end%>

<h3>Changer de picture ?</h3>
<%= form_tag event_picture_events_path(@event), multipart: true do %>
  <%= file_field_tag :picture_event %>
  <%= submit_tag "mettre à jour" %>
<% end %>
    
</body>
</html>
